<!DOCTYPE html>
<html>
<head>
    <title>Order Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <ul>
        <li>Customer ID: <%= results[0].CUSTOMER_ID %></li>
            <li>Name: <%=results[0].FIRSTNAME + ' ' + r.LASTNAME %> </li>
            <li>Address: <%=results[0].STREET %> </li>
            <li>City: <%=results[0].CITY %> </li>
            <li>State: <%=results[0].STATE %> </li>
            <li>Zip Code: <%=results[0].ZIP %> </li>
            <li>E-mail Address: <%=results[0].EMAIL %> </li>
        <br/><br/>
    </ul>
</div>

</body>
</html>